<ion-header>
  <ion-toolbar class="new-background-color-new">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;padding-left: 0px;margin-left: -30px;">Post Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="padding: 10px;">
  <ion-row justify-content-center style="width: 100%;">
    <div>
      <img style="height: 180px;width: 100%;" src="assets/tower.jpg" />
    </div>
  </ion-row>
  <ion-row style="width: 100%;">
    <ion-col size="8" style="text-align: left;;font-size: 20px;">
      <span>Leg spinner</span>
    </ion-col>
    <ion-col size="4" style="text-align: right;font-size: 16px;color: gray;">
      <span style="font-size: 18px;">$</span>
      <span>5000</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text" style="text-align: justify;">
      <span class="bold">Description :</span>
      <span>The peculiar release point of Bumrah's deliveries makes it
        hard for batsmen to pick him</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text">
      <ion-icon style="color: blue;" name="location-outline"></ion-icon><span class="bold">Location :</span>
      <span>Pune</span>
    </ion-col>
  </ion-row>
  </ion-row>
  <ion-row style="background: lightblue;
  padding: 10px;">
  <!-- <ion-row>
    <ion-col style="text-align: left;font-size: 15px;color: gray;">
      <span style="font-size: 16px;">Expected Salary : </span> <ion-icon style="font-size: 14px;" name="logo-usd"></ion-icon><span style="font-size: 17px;">5000</span>
    </ion-col>
  </ion-row> -->
    <ion-row style="width: 100%;">
      <ion-col size="3" style="text-align: center;" (click)="gotoprofile()">
        <img src="assets/tower.jpg" class="height-width" />
      </ion-col>
      <ion-col size="9" class="text">
        <!-- <span class="bold">
          
        </span> : -->
        <!-- <span class="bold">Name </span> : -->
         <p style="font-weight:bold"> Jasprit Jasbirsingh Bumrah </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <span class="bold">Current age</span> : <span> 26 years </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <span class="bold">Height</span> : <span> 6 ft </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <span class="bold">Position : </span><span>Defender ,Middle ,Striker </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <span class="bold">Foot : </span><span>Foot left leg</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <span class="bold">Available from : </span><span>06-Nov-2020</span>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="text">
        <span class="bold">Discription :</span>
        <span>Jasprit Bumrah grabbed eyeballs first with his unorthodox action, and then his bowling skills. Armed with
          an anomalous, sling-arm action and natural pace, the peculiar release point of Bumrah's deliveries makes it
          hard for batsmen to pick him</span>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="text">
        <span class="bold">Check My Video Links:</span>
        <ul>
          <li><a href="url">https://www.youtube.com/watch?v=tLxMsmqF8EM</a></li>
          <li><a href="url">https://www.youtube.com/watch?v=svJkadBf8Z4</a></li>
          <li><a href="url">https://www.youtube.com/watch?v=4mQAUC-szTo</a></li>
          <li><a href="url"> https://www.youtube.com/watch?v=9qTWEDPDeuk</a></li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <span class="bold">Check My Image Links:</span>
        <ul>
          <li><a href="url">https://www.youtube.com/watch?v=tLxMsmqF8EM</a></li>
          <li><a href="url">https://www.youtube.com/watch?v=svJkadBf8Z4</a></li>
          <li><a href="url">https://www.youtube.com/watch?v=4mQAUC-szTo</a></li>
          <li><a href="url"> https://www.youtube.com/watch?v=9qTWEDPDeuk</a></li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-row>

</ion-content>