<ion-header>
  <ion-toolbar class="new-background-color-new">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;padding-left: 0px;margin-left: -30px;">{{'Create Post' | translate}}</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <form [formGroup]="createPost" (ngSubmit)="register(createPost.value)">
    <ion-row class="row-margin1">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder=" {{'Title' | translate}}"
          formControlName="first_name"></ion-input>
        <div *ngIf="(createPost.controls.first_name.touched || submitAttempt) && createPost.controls.first_name.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.first_name.errors.required">
             {{'Title is required.' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
<!--     
    <ion-row class="row_bottom_border">
      <ion-col no-padding>
        <ion-item no-padding style="color: gray;padding-left: 5px;">
          <ion-label stacked class="textLabel"> {{'Date of Birth*' | translate}}</ion-label>
          <ion-datetime displayFormat="DD-MMM-YYYY" [max]="currentDate" (ionChange)="validate($event)"
            [placeholder]="'Date of Birth*' | translate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder=" {{'Height' | translate}}"
          formControlName="height"></ion-input>
        <div *ngIf="(createPost.controls.height.touched || submitAttempt) && createPost.controls.height.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.height.errors.required">
             {{'Height is required' | translate}}.</p>
          <p class="validation" *ngIf="createPost.controls.height.errors.pattern">
             {{'Invalid Height' | translate}}.
          </p>
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row class="row-margin" style="margin: 0;
    ">
      <ion-col>
        <ion-item style="color: gray;width: 100%;border-bottom: 1px solid lightgray;margin-left: 10px;">
          <ion-label> {{'Position' | translate}}</ion-label>
          <ion-select multiple="true" value="brown" interface="popover" ok-text="Okay" cancel-text="CANCEL">
           <ion-select-option value="brown"> {{'Defender' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Middle' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Striker' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(createPost.controls.position.touched || submitAttempt) && createPost.controls.position.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.position.errors.required">
             {{'Position is required' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
    ">
      <ion-col>
        <ion-item style="color: gray;width: 100%;border-bottom: 1px solid lightgray;margin-left: 10px;">
          <ion-label> {{'Foot' | translate}}</ion-label>
          <ion-select multiple="true" value="brown" interface="popover" ok-text="Yes" cancel-text="CANCEL">
            <ion-select-option value="brown"> {{'Foot Left leg' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Foot Right leg' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(createPost.controls.position.touched || submitAttempt) && createPost.controls.position.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.position.errors.required">
             {{'This field is required.' | translate}} </p>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="row-margin" style="margin: 0;
    ">
      <ion-col>
        <ion-item style="color: gray;">
          <ion-label>Nationality</ion-label>
          <ion-select value="brown" ok-text="Okay" cancel-text="CANCEL">
            <ion-select-option value="brown">India</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(createPost.controls.position.touched || submitAttempt) && createPost.controls.position.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.position.errors.required">
             {{'Please select Nationality.' | translate}}</p>
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row class="row-margin" style="margin: 0;
    ">
      <ion-col>
        <ion-item style="color: gray;width: 100%;border-bottom: 1px solid lightgray;margin-left: 10px;">
          <ion-label> {{'Availability' | translate}}</ion-label>
          <ion-select value="brown" ok-text="Okay" cancel-text="CANCEL">
            <ion-select-option value="brown"> {{'Immediate' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'After one month' | translate}}</ion-select-option>
            <ion-select-option value="red"> {{'After two month' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(createPost.controls.availability.touched || submitAttempt) && createPost.controls.availability.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.availability.errors.required">
             {{'Please select Availability.' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="row-margin" style="margin-left: 11px;">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder=" {{'Salary' | translate}}"
          formControlName="salary"></ion-input>
        <div *ngIf="(createPost.controls.salary.touched || submitAttempt) && createPost.controls.salary.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.salary.errors.required">
             {{'Salary is required' | translate}}.</p>
          <p class="validation" *ngIf="createPost.controls.salary.errors.pattern">
             {{'Invalid salary' | translate}}.
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col style="color: gray;">
        <!-- <ion-label style="padding-left: 5px;">Description</ion-label><br> -->
        <textarea  placeholder="{{'Description' | translate}}" class="textarea" #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()"></textarea>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="border-bottom: 1px solid lightgray;">
      <ion-col size="10">
        <ion-input class="input-border" style="border-bottom: 1px solid white;" type="text" placeholder="{{'Add Image links' | translate}}"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="addImageLink()" style="font-size: 30px;color: #0080ff;" class="iconplus" name="add-circle"></ion-icon>
        <!-- <ion-icon (click)="addImageLink()" style="font-size: 30px;color: green;" name="add-circle-outline"></ion-icon> -->
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" *ngFor="let item of UrlsDataImages" style="border-bottom: 1px solid lightgray;">
      <ion-col size="10">
        <ion-input class="input-border" style="border-bottom: 1px solid white;" type="text" placeholder="{{'Add Image link' | translate}}"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="removeImageLink()" style="font-size: 30px;color: 0080ff;" name="remove-circle"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="border-bottom: 1px solid lightgray;">
      <ion-col size="10">
        <ion-input class="input-border" style="border-bottom: 1px solid white;" type="text" placeholder="{{'Add Video links' | translate}}"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="addVideoLink()" style="font-size: 30px;color: #0080ff;" class="iconplus" name="add-circle"></ion-icon>
        <!-- <ion-icon (click)="addVideoLink()" style="font-size: 30px;color: green;" name="add-circle-outline"></ion-icon> -->
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" *ngFor="let item of UrlsDataVideo" style="border-bottom: 1px solid lightgray;">
      <ion-col size="10">
        <ion-input class="input-border" style="border-bottom: 1px solid white;" type="text" placeholder="{{'Add Video link' | translate}}"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="removeVideoLink()" style="font-size: 30px;color: 0080ff;" name="remove-circle"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="childAge<18" class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="number" placeholder=" {{'Parent Age' | translate}}"
          formControlName="p_age"></ion-input>
        <div *ngIf="(createPost.controls.p_age.touched || submitAttempt) && createPost.controls.p_age.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.p_age.errors.required">
             {{'Parent Age is required' | translate}}</p>
          <p class="validation" *ngIf="createPost.controls.p_age.errors.pattern">
             {{'Invalid Parent Age' | translate}}
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="childAge<18" class="row-margin" style="margin: 0;
      ">
      <ion-col>
        <ion-item style="color: gray;">
          <ion-label> {{'Relation' | translate}}</ion-label>
          <ion-select value="brown" interface="popover" ok-text="Okay" cancel-text="CANCEL">
            <ion-select-option value="brown"> {{'Father' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Mother' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Brother' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Sister' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(createPost.controls.relation.touched || submitAttempt) && createPost.controls.relation.invalid"
          class="invalid">
          <p class="validation" *ngIf="createPost.controls.relation.errors.required">
             {{'Relation is required' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row-margin" style="margin-top: 20px;">
      <ion-col class="no-padding ion-text-left">
        <button ion-button block class="likeButton">
          <p style="display: inline-flex; margin: 0px;">
            <span style="padding-left: 10px;font-size: 1.1em; color: white;">{{'Save' | translate}}</span>
          </p>
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
