<ion-header>
  <ion-toolbar class="new-background-color-new">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'ForgotPassword.Forgot Password' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="account" (ngSubmit)="submit(account.value)">
    <ion-row class="row-margin1">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder="{{'Login.Email' | translate}}" formControlName="email">
        </ion-input>
        <div *ngIf="(account.controls.email.touched || submitAttempt) && account.controls.email.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.email.errors.required">
            {{'Login.Email is required' | translate}}.</p>
          <p class="validation" *ngIf="account.controls.email.errors.pattern">{{'Login.Invalid email' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row-margin" style="margin-top: 20px;">
      <ion-col class="no-padding ion-text-left">
        <button ion-button block class="likeButton">
          <p style="display: inline-flex; margin: 0px;">
            <span style="padding-left: 10px;font-size: 1.1em; color: white;">{{'ForgotPassword.Submit' | translate}}</span>
          </p>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>