<ion-header>
    <ion-toolbar class="new-background-color-new">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>{{'MyAccount.Profile' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-icon class="logout" name="settings-outline" (click)="gotoStting()"></ion-icon>
        <!-- <ion-icon class="logout" name="log-out-outline" (click)="logout()"></ion-icon> -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <!-- <div class="edit-child"> -->
    <!-- <form [formGroup]="form"> -->
    <ion-row>
        <ion-col col-10>
        </ion-col>
        <ion-col col-2 style="text-align: right;">
            <ion-icon *ngIf="Editvalue == false" name="create" class="edit_icon" (click)="Editvaluefun(Editvalue)"
                style="padding-right: 10px;"></ion-icon>
            <ion-icon *ngIf="Editvalue == true" name="checkmark-circle" class="icon_update"
                (click)="Editvaluefun(Editvalue)" style="padding-right: 10px;"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center style="width: 100%;">
        <div cla id="img-container">
            <img style="margin-left: 50%;" class="img_round" [src]="image || 'assets/blank-person.jpg'" />
            <div class="profile_edit" (click)="selectImage()" *ngIf="Editvalue == true">
                <ion-icon name="create" style="color: white;"></ion-icon>
            </div>
        </div>
    </ion-row>
    <ion-row class="row-margin">
        <ion-col>
            <div style="text-align: left;padding-left: 9px;">
                {{'MyAccount.Personal Information' | translate}}</div>
        </ion-col>
    </ion-row>
    <ion-row class="row-margin">
        <ion-col>
            <div style="text-align: left;padding-left: 7px;font-size: 1rem;
            color: green;">
                <ion-icon name="person"></ion-icon>
                {{'MyAccount.Managed By Parent' | translate}}
            </div>
        </ion-col>
    </ion-row>

    <ion-row class="row-margin">
        <ion-col>
            <ion-input class="input-border" type="text" placeholder=" {{'First Name' | translate}}"></ion-input>
            <!-- <div *ngIf="(account.controls.first_name.touched || submitAttempt) && account.controls.first_name.invalid"
            class="invalid">
            <p class="validation" *ngIf="account.controls.first_name.errors.required">
               {{'firstname is required.' | translate}}</p>
          </div> -->
        </ion-col>
    </ion-row>

    <ion-row class="row-margin">
        <ion-col>
            <ion-input class="input-border" type="text" placeholder=" {{'Last Name' | translate}}"></ion-input>
            <!-- <div *ngIf="(account.controls.last_name.touched || submitAttempt) && account.controls.last_name.invalid"
            class="invalid">
            <p class="validation" *ngIf="account.controls.last_name.errors.required">
               {{'lastname is required.' | translate}}</p>
          </div> -->
        </ion-col>
    </ion-row>
    <ion-row class="row-margin">
        <ion-col>
            <ion-input class="input-border" type="number" placeholder=" {{'Email' | translate}}"></ion-input>
            <!-- <div *ngIf="(account.controls.email.touched || submitAttempt) && account.controls.email.invalid"
            class="invalid">
            <p class="validation" *ngIf="account.controls.email.errors.required">
               {{'Email is required' | translate}}.</p>
            <p class="validation" *ngIf="account.controls.email.errors.pattern"> {{'Invalid email' | translate}}.
            </p>
          </div> -->
        </ion-col>
    </ion-row>

       <ion-row class="row-margin">
        <ion-col>
            <ion-input class="input-border" type="text" placeholder=" {{'Height' | translate}}"></ion-input>
            <!-- <div *ngIf="(account.controls.height.touched || submitAttempt) && account.controls.height.invalid"
            class="invalid">
            <p class="validation" *ngIf="account.controls.height.errors.required">
               {{'Height is required' | translate}}.</p>
            <p class="validation" *ngIf="account.controls.height.errors.pattern">
               {{'Invalid Height' | translate}}.
            </p>
          </div> -->
        </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
    margin-left: 10px;">
        <ion-col no-padding>
            <ion-item no-padding style="color: gray;">
                <ion-label stacked class="textLabel"> {{'Date of Birth*' | translate}}</ion-label>
                <ion-datetime displayFormat="DD-MMM-YYYY" [max]="currentDate" (ionChange)="validate($event)"
                    [placeholder]="'Date of Birth*' | translate"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
      margin-left: 10px;">
        <ion-col>
            <ion-item style="color: gray;">
                <ion-label> {{'Position' | translate}}</ion-label>
                <ion-select value="brown" interface="popover" ok-text="Okay" cancel-text="CANCEL">
                    <ion-select-option value="brown"> {{'Defender' | translate}}</ion-select-option>
                    <ion-select-option value="blonde"> {{'Middle' | translate}}</ion-select-option>
                    <ion-select-option value="blonde"> {{'Striker' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
      margin-left: 10px;">
        <ion-col>
            <ion-item style="color: gray;">
                <ion-label> {{'Foot' | translate}}</ion-label>
                <ion-select value="brown" interface="popover" ok-text="Yes" cancel-text="CANCEL">
                    <ion-select-option value="brown"> {{'Foot Left leg' | translate}}</ion-select-option>
                    <ion-select-option value="blonde"> {{'Foot Right leg' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <!-- <div class="row-margin"> -->
    <ion-row *ngIf="childAge<18" class="row-margin">
        <ion-col>
            <ion-input class="input-border" type="number" placeholder=" {{'Parent Age' | translate}}">
            </ion-input>
            <!-- <div *ngIf="(account.controls.p_age.touched || submitAttempt) && account.controls.p_age.invalid" class="invalid">
                  <p class="validation" *ngIf="account.controls.p_age.errors.required">
                     {{'Parent Age is required' | translate}}</p>
                  <p class="validation" *ngIf="account.controls.p_age.errors.pattern"> {{'Invalid Parent Age' | translate}}
                  </p>
                </div> -->
        </ion-col>
    </ion-row>

    <ion-row *ngIf="childAge<18" class="row-margin" style="margin: 0;
            margin-left: 10px;">
        <ion-col>
            <ion-item style="color: gray;">
                <ion-label> {{'Relation' | translate}}</ion-label>
                <ion-select value="brown" interface="popover" ok-text="Okay" cancel-text="CANCEL">
                    <!-- <ion-select-option value="">Select Position</ion-select-option> -->
                    <ion-select-option value="brown"> {{'Father' | translate}}</ion-select-option>
                    <ion-select-option value="blonde"> {{'Mother' | translate}}</ion-select-option>
                    <ion-select-option value="blonde"> {{'Brother' | translate}}</ion-select-option>
                    <ion-select-option value="blonde"> {{'Sister' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <!-- <ion-row style="margin-left: 10px;" class="row-margin" (click)="uploadUrl()">
        <ion-col style="color: gray;">
            <label>Upload Image</label>
        </ion-col>
    </ion-row>
    <ion-row style="margin-left: 10px;" class="row-margin">
        <ion-col style="color: gray;">
            <label class="btn btn-primary center pad fileinput-button browse_lable">
                <input id="media" type="file" accept="image/*" (change)="uploadImage($event)"></label>

            <span class="fileupload-loading "></span>
        </ion-col>
    </ion-row>
    <ion-row style="margin-left: 10px;" class="row-margin" *ngFor="let item of UrlsData">
        <ion-col col-11>
            <ion-input class="input-border" type="Url" placeholder="Add Url">
                <ion-icon name="link"></ion-icon>
            </ion-input>
        </ion-col>
        <ion-col col-1>
            <ion-icon class="iconplus" name="add-circle"></ion-icon>
        </ion-col>
    </ion-row> -->
    <ion-row class="row-margin" style="margin-top: 20px;">
        <ion-col class="no-padding ion-text-left">
            <button ion-button block class="likeButton">
                <p style="display: inline-flex; margin: 0px;">
                    <span
                        style="padding-left: 10px;font-size: 1.1em; color: white;">{{'Save' | translate}}</span>
                </p>
            </button>
        </ion-col>
    </ion-row>

</ion-content>