<ion-header> 
  <ion-toolbar class="new-background-color-new">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Register' | translate}} {{value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="flag==true">
  <ion-card>
    <ion-card-content>
      <div style="text-align: center;">
        <img style="height: 135px;" src="../../assets/Agent.jpeg" item-left />
      </div>
      <div>
        <button ion-button block class="likeButton" (click)=isplayer(1)>
          <p style="display: inline-flex; margin: 0px;">
            <span
              style="padding-left: 10px;font-size: 1.1em; color: white;"> {{'I am Agent' | translate}}</span>
          </p>
        </button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-row justify-content-between>
        <ion-col>
          <div style="text-align: center;">
            <img style="height: 135px;" src="../../assets/player1.png" item-left />
          </div>
          <div>
            <button ion-button block class="likeButton" (click)=isplayer(2)>
              <p style="display: inline-flex; margin: 0px;">
                <span
                  style="padding-left: 10px;font-size: 1.1em; color: white;"> {{'I am Player' | translate}}</span>
              </p>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="flag==false">
  <form [formGroup]="account" (ngSubmit)="register(account.value)">
    <ion-row class="row-margin1">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder=" {{'First Name' | translate}}"
          formControlName="first_name"></ion-input>
        <div *ngIf="(account.controls.first_name.touched || submitAttempt) && account.controls.first_name.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.first_name.errors.required">
             {{'firstname is required.' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder=" {{'Last Name' | translate}}"
          formControlName="last_name"></ion-input>
        <div *ngIf="(account.controls.last_name.touched || submitAttempt) && account.controls.last_name.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.last_name.errors.required">
             {{'lastname is required.' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="number" placeholder=" {{'Email' | translate}}"
          formControlName="email"></ion-input>
        <div *ngIf="(account.controls.email.touched || submitAttempt) && account.controls.email.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.email.errors.required">
             {{'Email is required' | translate}}.</p>
          <p class="validation" *ngIf="account.controls.email.errors.pattern"> {{'Invalid email' | translate}}.
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="Password" placeholder=" {{'Password' | translate}}"
          formControlName="password"></ion-input>
        <div *ngIf="(account.controls.password.touched || submitAttempt) && account.controls.password.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.password.errors.required">
             {{'Password is required' | translate}}.</p>
          <p class="validation" *ngIf="account.controls.password.errors.pattern">
             {{'passwordValid' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="Password" placeholder=" {{'Confirm Password' | translate}}"
          formControlName="cpassword">
        </ion-input>
        <div *ngIf="(account.controls.cpassword.touched || submitAttempt) && account.controls.cpassword.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.cpassword.errors.required">
             {{'Confirm Password is required' | translate}}.</p>
          <p class="validation" *ngIf="account.controls.cpassword.errors.pattern">
             {{'passwordValid' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row_bottom_border">
      <ion-col no-padding>
        <ion-item no-padding style="color: gray;padding-left: 5px;">
          <ion-label stacked class="textLabel"> {{'Date of Birth*' | translate}}</ion-label>
          <ion-datetime displayFormat="DD-MMM-YYYY" [max]="currentDate" (ionChange)="validate($event)"
            [placeholder]="'Date of Birth*' | translate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="text" placeholder=" {{'Height' | translate}}"
          formControlName="height"></ion-input>
        <div *ngIf="(account.controls.height.touched || submitAttempt) && account.controls.height.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.height.errors.required">
             {{'Height is required' | translate}}.</p>
          <p class="validation" *ngIf="account.controls.height.errors.pattern">
             {{'Invalid Height' | translate}}.
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
    margin-left: 5px;">
      <ion-col>
        <ion-item style="color: gray;">
          <ion-label> {{'Position' | translate}}</ion-label>
          <ion-select value="brown" interface="popover" ok-text="Okay" cancel-text="CANCEL">
            <ion-select-option value="brown"> {{'Defender' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Middle' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Striker' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(account.controls.position.touched || submitAttempt) && account.controls.position.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.position.errors.required">
             {{'Position is required' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
    margin-left: 5px;">
      <ion-col>
        <ion-item style="color: gray;">
          <ion-label> {{'Foot' | translate}}</ion-label>
          <ion-select value="brown" interface="popover" ok-text="Yes" cancel-text="CANCEL">
            <ion-select-option value="brown"> {{'Foot Left leg' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Foot Right leg' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(account.controls.position.touched || submitAttempt) && account.controls.position.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.position.errors.required">
             {{'This field is required.' | translate}} </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin: 0;
    margin-left: 5px;">
      <ion-col>
        <ion-item style="color: gray;">
          <ion-label>Nationality</ion-label>
          <ion-select value="brown" ok-text="Okay" cancel-text="CANCEL">
            <ion-select-option value="brown">Indian</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(account.controls.position.touched || submitAttempt) && account.controls.position.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.position.errors.required">
             {{'Please select Nationality.' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="childAge<18" class="row-margin">
      <ion-col>
        <ion-input class="input-border" type="number" placeholder=" {{'Parent Age' | translate}}"
          formControlName="p_age"></ion-input>
        <div *ngIf="(account.controls.p_age.touched || submitAttempt) && account.controls.p_age.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.p_age.errors.required">
             {{'Parent Age is required' | translate}}</p>
          <p class="validation" *ngIf="account.controls.p_age.errors.pattern">
             {{'Invalid Parent Age' | translate}}
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="childAge<18" class="row-margin" style="margin: 0;
      margin-left: 5px;">
      <ion-col>
        <ion-item style="color: gray;">
          <ion-label> {{'Relation' | translate}}</ion-label>
          <ion-select value="brown" interface="popover" ok-text="Okay" cancel-text="CANCEL">
            <ion-select-option value="brown"> {{'Father' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Mother' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Brother' | translate}}</ion-select-option>
            <ion-select-option value="blonde"> {{'Sister' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 10px;"
          *ngIf="(account.controls.relation.touched || submitAttempt) && account.controls.relation.invalid"
          class="invalid">
          <p class="validation" *ngIf="account.controls.relation.errors.required">
             {{'Relation is required' | translate}}.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col>
        <ion-item style="margin-left: -10px;color: gray;font-size: 14px;;">
          <ion-checkbox></ion-checkbox>&nbsp;
          I accept &nbsp;<a (click)="termsPage()">Terms
            and Conditions</a>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin" style="margin-top: 20px;">
      <ion-col class="no-padding ion-text-left">
        <button ion-button block class="likeButton">
          <p style="display: inline-flex; margin: 0px;">
            <span style="padding-left: 10px;font-size: 1.1em; color: white;"> {{'Sign up' | translate}}</span>
          </p>
        </button>
      </ion-col>
    </ion-row>
  </form>

  <div class="div-hr">
    <hr style="background-color: #d0c8c8;;" />
    <div class="div-or">
      <p> {{'OR' | translate}}</p>
    </div>
  </div>

  <ion-row class="text-sign">
    <ion-col class="txt_forgotpassword">
      <span style="color: black;padding-right: 5px;"> {{'Have an account' | translate}}.</span>
      <button class="link-button" (click)="goBack()"> {{'Log in' | translate}}</button>
    </ion-col>
  </ion-row>
</ion-content> 
<ion-footer class="hideElementOnKeyboardShown">

</ion-footer>